<div>
  <ion-row *ngIf="isAdmin">
    <ion-col>
        <ion-button size="small" color="secondary" expand="block" (click)="onAddCategory()">
          <ion-icon slot="icon-only" name="add"></ion-icon> Categoría
        </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ng-container *ngFor="let category of categories; let i = index">
      <ion-col size="{{(i+1) % 3 === 0 ? 12 : 6}}">
        <app-category [category]="category" [isAdmin]="isAdmin"></app-category>
      </ion-col>
    </ng-container>
  </ion-row>
</div>