<ion-card>
  <ion-card-content>
    <div class="category-container" [routerLink]="!isAdmin ? ['/client/categories', category.id, 'services'] : []">
      <ion-icon class="category-icon" *ngIf="!isAdmin && category?.icon"
        color="primary"
        [name]="category?.icon"></ion-icon>
      <div class="name">
        {{category.name}}
      </div>
      <ion-button *ngIf="isAdmin" size="small" color="secondary" [routerLink]="['/admin/categories/edit', category.id]">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
