<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <form class="user-form" [formGroup]="userFormGroup" (ngSubmit)="submitForm()">
    <ion-avatar (click)="openUploader()">
      <img [src]="imageBase64 || user?.image?.url || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'">
      <ion-icon name="camera" color="light"></ion-icon>
      <input class="uploader"
        type="file"
        accept=".png,.gif,.jpeg"
        (change)="onFileChange($event)"/>
    </ion-avatar>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="name" name="name" type="text"></ion-input>
      </ion-item>
      <app-control-messages [control]="userFormGroup.get('name')">
      </app-control-messages>

      <ion-item>
        <ion-label position="stacked">Correo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="email" name="email" type="email" required></ion-input>
      </ion-item>
      <app-control-messages [control]="userFormGroup.get('email')">
      </app-control-messages>

      <div class="ion-padding">
        <ion-button
          expand="block"
          type="submit"
          class="ion-no-margin"
          [disabled]="userFormGroup.invalid">
          Guardar
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
