.service {
    &__image-container {
      background-color: var(--ion-color-primary-tint);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
          border-radius: 50px;
          overflow: hidden;
    }

    &__name {
        font-size: 1.1rem;
        font-weight: bold;
    }

    &__vendor-name {
      color: var(--ion-color-medium);
    }
}
