<ion-header>
  <ion-toolbar>
    <ion-title>Servicios {{category?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-searchbar placeholder="Buscar" debounce="500" (ionChange)="onSearch($event.target.value)"></ion-searchbar>
  </ion-row>
  <ion-row>
    <ng-container *ngFor="let service of services$ | async; let i = index">
      <ion-col size="12">
        <app-service [service]="service"></app-service>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content>
