<ion-header>
  <ion-toolbar>
    <ion-title>Servicios {{category?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-searchbar placeholder="Buscar" debounce="500" (ionChange)="onSearch($event.target.value)"></ion-searchbar>
  </ion-row>
  <ion-row>
    <ng-container *ngFor="let service of services; trackBy: trackByFn">
      <ion-col size="12">
        <app-service [service]="service" [routerLink]="['/client/services', service.id]"></app-service>
      </ion-col>
    </ng-container>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más servicios...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>
</ion-content>
