<ion-content>
  <div class="user-info" *ngIf="user$ | async">
    <h1>Bienvenido {{(user$ | async)?.name}}</h1>
    <ion-button
      *ngIf="((user$ | async) && (!(vendor$ | async)) || ((vendor$ | async)?.status !== 'approved'))"
      color="success"
      expand="block"
      routerLink="/client/register-vendor">
      Cambiar a vendor
    </ion-button>
    <ion-button
      *ngIf="((user$ | async) && ((vendor$ | async)) && ((vendor$ | async)?.status === 'approved'))"
      color="success"
      expand="block"
      routerLink="/client">
      Cambiar a cliente
    </ion-button>
    <ion-button
      color="secondary"
      expand="block"
      (click)="onLogout()">
      Cerrar Sesion
    </ion-button>
  </div>
  <ion-button
    *ngIf="!(user$ | async)"
    color="primary"
    expand="block"
    routerLink="/login">
    Iniciar Sesion
  </ion-button>
  <ion-button
    *ngIf="!(user$ | async)"
    color="light"
    expand="block"
    routerLink="/register">
    Registrarse
  </ion-button>
</ion-content>
