<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="user-info" *ngIf="user$ | async as user">
    <div class="header">
      <ion-avatar>
        <img [src]="user?.image?.url || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'">
      </ion-avatar>
      <ion-label color="primary">Bienvenido {{user?.name}}
        <ion-icon name="create-outline" routerLink="/client/edit"></ion-icon>
      </ion-label>
    </div>
    <div class="user-container">
      <ion-item>
        <ion-label color="primary">Email:</ion-label>
        <ion-label color="secondary" slot="end">{{user?.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Alias:</ion-label>
        <ion-label color="secondary" slot="end">{{user?.nickname}}</ion-label>
      </ion-item>
    </div>
    <div *ngIf="vendor$ | async as vendorRequest" class="vendor-container">
      <div class="company-title">
        <ion-label class="company-label" color="primary">Compania, {{vendorRequest?.vendor?.business_name}}
          <ion-icon name="create-outline" routerLink="/vendor/edit-vendor-profile"></ion-icon>
        </ion-label>
      </div>
      <ion-item>
        <ion-label color="primary">Ruc:</ion-label>
        <ion-label color="secondary" slot="end">{{vendorRequest?.vendor?.ruc}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Teléfono:</ion-label>
        <ion-label color="secondary" slot="end">{{vendorRequest?.vendor?.mobile}}</ion-label>
      </ion-item>
      <ion-button
        *ngIf="(user && vendor && vendor?.status === 'approved')"
        color="success"
        expand="block"
        routerLink="/client">
        Cambiar a cliente
      </ion-button>
    </div>
    <ion-button
      *ngIf="(user && (!(vendor$ | async)) || ((vendor$ | async)?.status !== 'approved'))"
      color="success"
      expand="block"
      routerLink="/client/register-vendor">
      Cambiar a vendor
    </ion-button>
    <ion-button
      color="secondary"
      expand="block"
      (click)="onLogout()">
      Cerrar Sesion
    </ion-button>
  </div>
  <ion-button
    *ngIf="!(user$ | async)"
    color="primary"
    expand="block"
    routerLink="/login">
    Iniciar Sesion
  </ion-button>
  <ion-button
    *ngIf="!(user$ | async)"
    color="light"
    expand="block"
    routerLink="/register">
    Registrarse
  </ion-button>
</ion-content>
