<ion-content>
  <div class="user-info" *ngIf="user$ | async as user">
    <div class="header">
      <ion-label>Bienvenido {{user?.name}}</ion-label>
      <ion-label>Email: {{user?.email}}</ion-label>
      <ion-label>Alias: {{user?.nickname}}</ion-label>
      <ion-icon name="create-outline" routerLink="/client/edit"></ion-icon>
    </div>
    <ion-button
      *ngIf="((user$ | async) && (!(vendor$ | async)) || ((vendor$ | async)?.status !== 'approved'))"
      color="success"
      expand="block"
      routerLink="/client/register-vendor">
      Cambiar a vendor
    </ion-button>
    <ion-button
      *ngIf="((user$ | async) && ((vendor$ | async)) && ((vendor$ | async)?.status === 'approved'))"
      color="success"
      expand="block"
      routerLink="/client">
      Cambiar a cliente
    </ion-button>
    <ion-button
      *ngIf="((user$ | async) && ((vendor$ | async)) && ((vendor$ | async)?.status === 'approved'))"
      color="primary"
      expand="block"
      routerLink="/vendor/edit-vendor-profile">
      Editar perfil de vendor
    </ion-button>
    <ion-button
      color="secondary"
      expand="block"
      (click)="onLogout()">
      Cerrar Sesion
    </ion-button>
  </div>
  <ion-button
    *ngIf="!(user$ | async)"
    color="primary"
    expand="block"
    routerLink="/login">
    Iniciar Sesion
  </ion-button>
  <ion-button
    *ngIf="!(user$ | async)"
    color="light"
    expand="block"
    routerLink="/register">
    Registrarse
  </ion-button>
</ion-content>
