.reset-form {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-list {
    width: 100%;
  }

  .cancel-link {
    display: flex;
    justify-content: center;
  }
}

.page-title {
  margin-top: 4rem;
}
