<ion-content class="ion-padding">
  <div class="page-title">
    <ion-label class="page-title__primary">Cambiar contraseña</ion-label>
    <ion-label class="page-title__secondary">Ingresa tu nueva contraseña</ion-label>
  </div>
  <form class="reset-form ion-no-padding" [formGroup]="resetFormGroup" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="password" name="password" type="password" required></ion-input>
      </ion-item>
      <app-control-messages [control]="resetFormGroup.get('password')">
      </app-control-messages>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Confirmar contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="confirm_password" name="confirm_password" type="password" required></ion-input>
      </ion-item>
      <app-control-messages [control]="resetFormGroup.get('confirm_password')">
      </app-control-messages>

      <div class="ion-padding ion-margin-top">
        <ion-button
          expand="block"
          shape="round"
          type="submit"
          class="ion-no-margin"
          [disabled]="resetFormGroup.invalid">
          Guardar
        </ion-button>
      </div>
      <div class="cancel-link ion-margin-top">
        <ion-label routerLink="/" color="primary">Cancelar</ion-label>
      </div>
    </ion-list>
  </form>
</ion-content>
