<ion-content>
  <form class="reset-form" [formGroup]="resetFormGroup" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="password" name="password" type="password" required></ion-input>
      </ion-item>
      <app-control-messages [control]="resetFormGroup.get('password')">
      </app-control-messages>

      <ion-item>
        <ion-label position="stacked">Confirmar Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="confirm_password" name="confirm_password" type="password" required></ion-input>
      </ion-item>
      <app-control-messages [control]="resetFormGroup.get('confirm_password')">
      </app-control-messages>

      <ion-button
        expand="block"
        type="submit"
        class="ion-no-margin"
        [disabled]="resetFormGroup.invalid">
        Guardar
      </ion-button>
    </ion-list>
  </form>
</ion-content>
