.page-title {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;

  &__primary {
    font-size: 2rem;
    font-weight: bold;
  }

  &__secondary {
    font-size: 1rem;
    color: var(--ion-color-medium);
  }
}
