<ion-content>
  <form class="register-form" #form="ngForm" (ngSubmit)="onSignIn(form)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text></ion-label>
        <ion-input ngModel name="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
        <ion-input ngModel name="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input ngModel name="password" type="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmar Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input ngModel name="confirm_password" type="password" required></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button 
          expand="block"
          type="submit"
          class="ion-no-margin"
          [disabled]="form.invalid">
          Registrarse
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
