<ion-content>
  <form class="recover-form" [formGroup]="recoverFormGroup" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="email" name="email" type="email" required></ion-input>
      </ion-item>
      <app-control-messages [control]="recoverFormGroup.get('email')">
      </app-control-messages>

      <div class="login-link">
        <ion-label routerLink="/login">Iniciar Sesión</ion-label>
      </div>

      <ion-button
        expand="block"
        type="submit"
        class="ion-no-margin"
        [disabled]="recoverFormGroup.invalid">
        Recuperar
      </ion-button>
    </ion-list>
  </form>
</ion-content>
