.recover-form {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-list {
    width: 100%;
  }
}

.login-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 15px;
  color: var(--ion-color-medium);
}
