<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-title ion-margin-top-4">
    <ion-label class="page-title__primary">Recuperar contraseña</ion-label>
    <ion-label class="page-title__secondary">Ingresa tu correo eletrónico para recuperar contraseña</ion-label>
  </div>
  <form class="recover-form ion-no-padding" [formGroup]="recoverFormGroup" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Correo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="email" name="email" type="email" required></ion-input>
      </ion-item>
      <app-control-messages [control]="recoverFormGroup.get('email')">
      </app-control-messages>
      <div class="ion-padding ion-margin-top">
        <ion-button
          shape="round"
          expand="block"
          type="submit"
          class="ion-no-margin"
          [disabled]="recoverFormGroup.invalid">
          Recuperar
        </ion-button>
      </div>
    </ion-list>
  </form>
  <div class="login-link">
    <ion-label>Ya tienes una cuenta? <ion-label routerLink="/login" color="primary">Inicia sesión</ion-label></ion-label>
  </div>
</ion-content>
