.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-list {
    width: 90%;
  }

  .recover-pass {
    margin-top: 1rem;
    text-align: end;
  }

  ion-item {

    .password-icon {
      font-size:2rem !important;
      position: relative !important;
      top: 22px !important;
      margin: 0 auto !important;
    }
  }
}
