.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-list {
    width: 100%;
  }

  .recover-pass {
    margin-top: 1rem;
    text-align: end;
    font-size: 15px;
    color: var(--ion-color-medium);
  }

  ion-button {
    margin-top: 2rem;
  }

  ion-item {

    &.margin-top {
      margin-top: 1rem;
    }

    .password-icon {
      font-size:2rem !important;
      position: relative !important;
      top: 22px !important;
      margin: 0 auto !important;
    }
  }

  .sign-up {
    margin-top: 1rem;
    text-align: center;
    font-size: 15px;
    color: var(--ion-color-medium);
  }
}

.page-title {
  height: 30%;
}
