<ion-text color="danger" *ngIf="control.invalid && (control.dirty || control.touched)">
  <div *ngIf="control.errors.required">
    Llena este campo por favor.
  </div>
  <div *ngIf="control.errors.email">
    Correo Invalido.
  </div>
  <div *ngIf="control.errors.min || control.errors.max">
    Numero fuera de rango.
  </div>
  <div *ngIf="control.errors.minlength">
    Logitud mínima: {{control.errors.minlength.requiredLength}}
  </div>
  <div *ngIf="control.errors.maxlength">
    Logitud máxima: {{control.errors.maxlength.requiredLength}}
  </div>
  <div *ngIf="control.errors.backendError">
    {{ control.errors.backendError }}
  </div>
</ion-text>
